<header>
  <h1>Gestion des données de référence de l'application InBizz</h1>
</header>
<main class="page-content-wrapper" role="main">
  <div class="site-content">
    <h2><a href="/refdatabo/pays/">Pays</a></h2>
    <h2><a href="/refdatabo/secteurs/">Secteurs</a></h2>
    <h2><a href="/refdatabo/statuts/">Statuts</a></h2>
    <h2><a href="/refdatabo/statuts_juridiques/">Statuts juridiques</a></h2>
    <h2><a href="/refdatabo/types/">Types</a></h2>
  </div>
</main>
