<div class="rechercherform">
  <%= form_tag('/recherche', method: :post, class: 'searchform') do %>
      <div class="rechercher">
          <div class="fieldholder">
            <%= text_field_tag(:query, params[:query], id: "searchfield", class: 'searchfield', placeholder: 'Rechercher une marque.....') %>
          </div>
          <div class="btnico icorecherche fieldholder actsearch"></div>
      </div>
  <% end %>
</div>
