<form class="searchform" action="recherche.html">
    <div class="rechercher">
        <div class="fieldholder"><input class="searchfield" type="text" value=""></div>
        <div class="btnico icorecherche fieldholder actsearch"></div>
    </div>
</form>
