<footer role="contentinfo" class="page-footer-wrapper">
    <div class="site-content footer-content">
      <% if @showmarquebuttons %>
      <div class="btninnerico gris annuler invisible actannuler" title="Annuler les modifications">Annuler</div>
      <div class="btninnerico blanc valider invisible actvalider" title="Valider les modifications">Valider les modifications</div>
      <% end %>
    </div>
</footer>
