<h1>Modification</h1>

<%= form_tag "/refdatabo/types/#{@type.MAR_TYP_IDENT_NM}", method: "patch" do %>
  <input type="text" name="MAR_TYP_LIB_TX" value="<%= @type.MAR_TYP_LIB_TX %>" placeholder="Libellé"/>
  <%= @type.errors[:title].first %>
  <input type="submit" value="Modifier" />
<% end %>

<%= form_tag "/refdatabo/types/#{@type.MAR_TYP_IDENT_NM}", method: "delete" do %>
  <input type="submit" value="Supprimer" />
<% end %>

<p><a href="/refdatabo/types/">Retourner à la liste</a></p>
