<header>
  <h1>Modification</h1>
</header>
<main class="page-content-wrapper" role="main">
  <div class="site-content">
    <%= form_tag "/refdatabo/types/#{@type.mar_typ_ident_nm}", method: "patch" do %>
      <input type="text" name="mar_typ_lib_tx" value="<%= @type.mar_typ_lib_tx %>" placeholder="Libellé"/>
      <%= @type.errors[:title].first %>
      <input type="submit" value="Modifier" />
    <% end %>
    <%= form_tag "/refdatabo/types/#{@type.mar_typ_ident_nm}", method: "delete" do %>
      <input type="submit" value="Supprimer" />
    <% end %>
  </div>
</main>
<footer>
  <h1><a href="/refdatabo/types/">Retour à la liste</a></h1>
</footer>
