<h1>Erreur - Gestion des types (<a href="/refdatabo/types/">Retour à la liste</a>)</h1>
mar_typ_lib_tx : <%= @new_type.errors[:mar_typ_lib_tx].first %><br/>
mar_typ_ident_nm : <%= @new_type.errors[:mar_typ_ident_nm].first %><br/>
title - <%= @new_type.errors[:title].first %><br/>
<% @new_type.errors.each do |error| %>
<%= error.first%><br/>
<% end %>
