<header>
  <h1>Gestion des types</h1>
</header>
<h2>Liste</h2>
<main class="page-content-wrapper" role="main">
  <div class="site-content">
    <% @listetypes.each do |type| %>
      <p>
        <a href="/refdatabo/types/<%= type.mar_typ_ident_nm %>"><%= type.mar_typ_lib_tx %></a>
      </p>
    <% end %>
  </div>
</main>
<h2>Créer</h2>
<%= form_tag '/refdatabo/types', method: 'post' do %>
  <input type="text" name="mar_typ_lib_tx" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>
<footer>
  <h1><a href="/refdatabo/">Retour</a></h1>
</footer>
