<h1>Gestion des types (<a href="/refdatabo/">Retour</a>)</h1>
<h2>Créer</h2>
<%= form_tag '/refdatabo/types', method: 'post' do %>
  <input type="text" name="MAR_TYP_LIB_TX" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>

<h2>Liste</h2>

<% @listetypes.each do |type| %>
  <p>
    <a href="/refdatabo/types/<%= type.MAR_TYP_IDENT_NM %>"><%= type.MAR_TYP_LIB_TX %></a>
  </p>
<% end %>

<h2>Créer</h2>
<%= form_tag '/refdatabo/types', method: 'post' do %>
  <input type="text" name="MAR_TYP_LIB_TX" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>
