<main class="page-content-wrapper" role="main">
  <div class="site-content">
<% if current_user %>
    <section class="header">
      <div class="btnico icoback actback"><a href="#"></a></div>
      <div class="pagetitle">Bienvenue sur InBiz</div>
    </section>
    <section class="subheader">
        <div>
            Utilisateur : <%= current_user.name %>
        </div>
    </section>
<% else %>
      <section class="header">
          <div class="btnico icoback actback"><a href="#"></a></div>
          <div class="pagetitle">Erreur de connexion</div>
      </section>
      <section class="subheader">
          <div>
              Veuillez vous connecter avec votre compte Google pour consulter l'application R9 Inbizz.<br/>
              <%= flash[:compteinconnu] %>
          </div>
      </section>
<% end %>
</div>
</main>
