<header>
  <h1>Modification</h1>
</header>

<main class="page-content-wrapper" role="main">
  <div class="site-content">
<%= form_tag "/refdatabo/secteurs/#{@secteur.mar_sec_ident_nm}", method: "patch" do %>
  <input type="text" name="mar_sec_lib_tx" value="<%= @secteur.mar_sec_lib_tx %>" placeholder="Libellé"/>
  <%= @secteur.errors[:title].first %>
  <input type="submit" value="Modifier" />
<% end %>

<%= form_tag "/refdatabo/secteurs/#{@secteur.mar_sec_ident_nm}", method: "delete" do %>
  <input type="submit" value="Supprimer" />
<% end %>
</div>
</main>
<footer>
<h1><a href="/refdatabo/secteurs/">Retour à la liste</a></h1>
</footer>
