<header>
  <h1>Gestion des secteurs</h1>
</header>

<h2>Liste</h2>
<main class="page-content-wrapper" role="main">
  <div class="site-content">
    <% @listesecteurs.each do |secteur| %>
      <p>
        <a href="/refdatabo/secteurs/<%= secteur.mar_sec_ident_nm %>"><%= secteur.mar_sec_lib_tx %></a>
      </p>
    <% end %>
  </div>
</main>
<%= render 'form-create' %>
<footer><h1><a href="/refdatabo/">Retour</a></h1></footer>
