<h1>Gestion des secteurs (<a href="/refdatabo/">Retour</a>)</h1>
<h2>Créer</h2>
<%= form_tag '/refdatabo/secteurs', method: 'post' do %>
  <input type="text" name="mar_sec_lib_tx" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>

<h2>Liste</h2>

<% @listesecteurs.each do |secteur| %>
  <p>
    <a href="/refdatabo/secteurs/<%= secteur.mar_sec_ident_nm %>"><%= secteur.mar_sec_lib_tx %></a>
  </p>
<% end %>

<h2>Créer</h2>
<%= form_tag '/refdatabo/secteurs', method: 'post' do %>
  <input type="text" name="mar_sec_lib_tx" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>
