<h1>Gestion des statuts juridiques (<a href="/refdatabo/">Retour</a>)</h1>
<h2>Créer</h2>
<%= form_tag '/refdatabo/statuts_juridiques', method: 'post' do %>
  <input type="text" name="mar_sta_jur_lib_tx" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>

<h2>Liste</h2>

<% @listestatutsjuridiques.each do |statutjuridique| %>
  <p>
    <a href="/refdatabo/statuts_juridiques/<%= statutjuridique.mar_sta_jur_ident_nm %>"><%= statutjuridique.mar_sta_jur_lib_tx %></a>
  </p>
<% end %>

<h2>Créer</h2>
<%= form_tag '/refdatabo/statuts_juridiques', method: 'post' do %>
  <input type="text" name="mar_sta_jur_lib_tx" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>
