<h1>Modification</h1>

<%= form_tag "/refdatabo/pays/#{@pays.mar_pays_ident_nm}", method: "patch" do %>
  <input type="text" name="mar_pays_lib_tx" value="<%= @pays.mar_pays_lib_tx %>" placeholder="Libellé"/>
  <%= @pays.errors[:title].first %>
  <input type="submit" value="Modifier" />
<% end %>

<%= form_tag "/refdatabo/pays/#{@pays.mar_pays_ident_nm}", method: "delete" do %>
  <input type="submit" value="Supprimer" />
<% end %>

<p><a href="/refdatabo/pays/">Retourner à la liste</a></p>
