<header>
  <h1>Gestion des pays</h1>
</header>
<h2>Liste</h2>
<main class="page-content-wrapper" role="main">
  <div class="site-content">
    <% @listepays.each do |pays| %>
      <p>
        <a href="/refdatabo/pays/<%= pays.mar_pays_ident_nm %>"><%= pays.mar_pays_lib_tx %></a>
      </p>
    <% end %>
</div>
</main>
<h2>Créer</h2>
<%= form_tag '/refdatabo/pays', method: 'post' do %>
  <input type="text" name="mar_pays_lib_tx" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>
<footer><h1><a href="/refdatabo/">Retour</a></h1></footer>
