<header role="banner" class="page-header-wrapper">
    <div class="site-content header-content">
        <div class="logo">

            <a href="index.html"><%= image_tag "R9-logo.png" %></a>
        </div>
        <div class="rechercherform">
            <form class="searchform" action="recherche.html">
                <div class="rechercher">
                    <div class="fieldholder"><input class="searchfield" type="text" value=""></div>
                    <div class="btnico icorecherche fieldholder actsearch"></div>
                </div>
            </form>
        </div>
        <div class="menu">
            <div class="btnico icoprofil"><a href="profil.html"></a></div>
        </div>
    </div>
</header>
