<h1>Gestion des statuts (<a href="/refdatabo/">Retour</a>)</h1>
<h2>Créer</h2>
<%= form_tag '/refdatabo/statuts', method: 'post' do %>
  <input type="text" name="MAR_STA_LIB_TX" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>

<h2>Liste</h2>

<% @listestatuts.each do |statut| %>
  <p>
    <a href="/refdatabo/statuts/<%= statut.MAR_STA_IDENT_NM %>"><%= statut.MAR_STA_LIB_TX %></a>
  </p>
<% end %>

<h2>Créer</h2>
<%= form_tag '/refdatabo/statuts', method: 'post' do %>
  <input type="text" name="MAR_STA_LIB_TX" placeholder="Libellé"/>
  <input type="submit" value="Ajouter" />
<% end %>
