<header>
  <h1>Modification</h1>
</header>
<main class="page-content-wrapper" role="main">
  <div class="site-content">
    <%= form_tag "/refdatabo/statuts_juridiques/#{@statutjuridique.mar_sta_jur_ident_nm}", method: "patch" do %>
      <input type="text" name="mar_sta_jur_lib_tx" value="<%= @statutjuridique.mar_sta_jur_lib_tx %>" placeholder="Libellé"/>
      <%= @statutjuridique.errors[:title].first %>
      <input type="submit" value="Modifier" />
    <% end %>
    <%= form_tag "/refdatabo/statuts_juridiques/#{@statutjuridique.mar_sta_jur_ident_nm}", method: "delete" do %>
      <input type="submit" value="Supprimer" />
    <% end %>
  </div>
</main>
<footer>
  <h1><a href="/refdatabo/statuts_juridiques/">Retour à la liste</a></h1>
</footer>
